# Database settings
DB_NAME=name
DB_USER=user
DB_PASSWORD=password

# JWT settings
SECRET_KEY=key
JWT_EXPIRATION=time
JWT_REFRESH_EXPIRATION=time

GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret

GITHUB_CLIENT_ID=id
GITHUB_CLIENT_SECRET=secret

SPRING_KAFKA_EMAIL=email
SPRING_KAFKA_PASSWORD=password
